body {
    font-family: "Mouse Memoirs", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    background-color: gray;
    background-image: url(images/background.jpg);
    background-size: 100%;
}
.container {
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    opacity: 0.96;
    background-color: #636161;
}

.active {
    color: rgb(252, 111, 134);
    text-decoration: none;
}

.passive {
    color: lightblue;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 26px;
}
input::placeholder {
    border: 0;
    opacity: 1;
    color: #636161;
}

input:focus {
    outline: none;
}

input {
    margin: 10px auto;
    display: inline;
    color: #636161;
    font-size: 16px;
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #636161;
    transition: all 200ms ease;
}

.button {
    background: lightblue;
    color: rgb(252, 111, 134);
    border: 1px solid lightblue;
}

.button:hover {
    background: rgb(252, 111, 134);
    color: lightblue;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 30px;
}

h3 {
    color: white;
    font-size: 20px;
    display: inline;
}

#localTime {
    color: greenyellow;
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    display: block;
}

#destinationTime {
    color: red;
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    display: block;
}

#city:first-letter {
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding: 0;
}

li:first-letter {
    text-transform: capitalize;
}

img {
    display: inline;
}

.temperature {
    font-size: 60px;
}

.units {
    position: relative;
    top: -25px;
    font-size: 25px;
}

h4 {
    color: white;
}
