body {
  font-family: "Mouse Memoirs", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: wheat;
}
.container {
  max-width: 700px;
  min-width: 360px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #1d2856;
}

h1,
h2,
h3 {
  color: wheat;
}
h4 {
  color: wheat;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  color: wheat;
}
input::placeholder {
  opacity: 1;
  color: #1d2856;
}

input {
  margin: 10px auto;
  display: inline;
  color: #1d2856;
  font-size: 16px;
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #1d2856;
  box-shadow: 1px 2px 2px;
  transition: all 200ms ease;
}
.button {
  background: gold;
  color: #1d2856;
}

.button:hover {
  background: rgb(255, 115, 0);
  color: #1d2856;
}
